In [3]:
import wikiscrape

In [4]:
# import library
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

# Request to website and download HTML contents
url='https://en.wikipedia.org/wiki/20th_meridian_east'
req=requests.get(url)
content=req.text

In [5]:
#url = "https://en.wikipedia.org/wiki/"+'Category:Meridians(geography)'
base_url = 'https://en.wikipedia.org/wiki/Category:Meridians (geography)'

In [6]:
def get_next_link(soup):
    return soup.find("a", text="next page")

def extract_links(soup):
    return [a['title'] for a in soup.select("#mw-pages li a")]

In [ ]:
def scrape(soup, background = False):
    co_ordinates = []
    names = []
    types = []
    for items in soup.find('table', class_='wikitable plainrowheaders').find_all('tr')[1::1]:
        if background:
            areas = items.find_all(['th', 'td'], attrs={'style': background})
            try:
               co_ordinates.append((areas[0].a.text))
               names.append(areas[1].a.text)
               types.append(areas[1].a.text.split(' ')[1])
            except IndexError: pass
        else:
            areas = items.find_all(['th', 'td'], attrs = {'style': False})
            try:
                co_ordinates.append((areas[0].a.text))
                names.append(areas[1].a.text)
                types.append('Country')
            except IndexError: pass

    #df = pd.DataFrame(np.column_stack([types, co_ordinates, names]), columns=['type', 'co_ordinates', 'name'])
    return co_ordinates

In [40]:
def scrape(soup, background = False):
    co_ordinates = []
    names = []
    types = []
    for items in soup.find('table', class_='wikitable plainrowheaders').find_all('tr')[1::1]:
        if background:
            areas = items.find_all(['th', 'td'], attrs={'style': background})
            try:
                co_ordinates.append((areas[0].a.text))
                #if areas[1].a is not None:
                names.append(areas[1].a.text)
                types.append(areas[1].a.text.split(' ')[1])
                #else:
                    # names.append(areas[1].a.text)
                    # types.append(areas[1].a.text.split(' ')[1])
            except IndexError: pass

        else:
            areas = items.find_all(['th', 'td'], attrs = {'style': False})
            try:
                co_ordinates.append((areas[0].a.text))
                if areas[1].a is not None:
                    names.append(areas[1].a.text)
                    types.append('Country')
                else:
                    continue 
                    #names.append(areas[1].a.text)
                    #types.append('Country')
            except IndexError: pass
    df = pd.DataFrame([co_ordinates, names, types]).T.rename(columns = {0: 'co_ordinates', 1: 'name', 2: 'type'})
    return df

SyntaxError: 'continue' not properly in loop (<ipython-input-40-c407d40b1045>, line 33)

In [39]:
URL = "https://en.wikipedia.org/wiki/9th_meridian_east"
res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
scrape(soup, background = 'background:#b0e0e6;')

                                        co_ordinates               name   type
0  90°0′N 9°0′E﻿ / ﻿90.000°N 9.000°E﻿ / 90.000; 9...       Arctic Ocean  Ocean
1  81°9′N 9°0′E﻿ / ﻿81.150°N 9.000°E﻿ / 81.150; 9...     Atlantic Ocean  Ocean
2  58°34′N 9°0′E﻿ / ﻿58.567°N 9.000°E﻿ / 58.567; ...          Skagerrak    Sea
3  57°1′N 9°0′E﻿ / ﻿57.017°N 9.000°E﻿ / 57.017; 9...           Limfjord    Sea
4  44°23′N 9°0′E﻿ / ﻿44.383°N 9.000°E﻿ / 44.383; ...  Mediterranean Sea    Sea
5  41°29′N 9°0′E﻿ / ﻿41.483°N 9.000°E﻿ / 41.483; ...  Mediterranean Sea  Ocean
6  39°0′N 9°0′E﻿ / ﻿39.000°N 9.000°E﻿ / 39.000; 9...  Mediterranean Sea  Ocean
7  4°5′N 9°0′E﻿ / ﻿4.083°N 9.000°E﻿ / 4.083; 9.00...     Atlantic Ocean  Ocean
8  1°19′S 9°0′E﻿ / ﻿1.317°S 9.000°E﻿ / -1.317; 9....     Atlantic Ocean   None
9  60°0′S 9°0′E﻿ / ﻿60.000°S 9.000°E﻿ / -60.000; ...     Southern Ocean   None

In [34]:
URL = "https://en.wikipedia.org/wiki/10th_meridian_east"
res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
scrape(soup, background = 'background:#b0e0e6;')

                                        co_ordinates               name   type
0  90°0′N 10°0′E﻿ / ﻿90.000°N 10.000°E﻿ / 90.000;...       Arctic Ocean  Ocean
1  81°5′N 10°0′E﻿ / ﻿81.083°N 10.000°E﻿ / 81.083;...     Atlantic Ocean  Ocean
2  58°58′N 10°0′E﻿ / ﻿58.967°N 10.000°E﻿ / 58.967...          Skagerrak    Sea
3  44°3′N 10°0′E﻿ / ﻿44.050°N 10.000°E﻿ / 44.050;...  Mediterranean Sea  Ocean
4  2°47′S 10°0′E﻿ / ﻿2.783°S 10.000°E﻿ / -2.783; ...     Atlantic Ocean  Ocean
5  60°0′S 10°0′E﻿ / ﻿60.000°S 10.000°E﻿ / -60.000...     Southern Ocean   None

In [35]:
pd.concat(oceans_df)

,co_ordinates,name,type
0,90°0′N 1°0′E﻿ / ﻿90.000°N 1.000°E﻿ / 90.000; 1...,Arctic Ocean,Ocean
1,81°35′N 1°0′E﻿ / ﻿81.583°N 1.000°E﻿ / 81.583; ...,Atlantic Ocean,Ocean
2,61°0′N 1°0′E﻿ / ﻿61.000°N 1.000°E﻿ / 61.000; 1...,North Sea,Sea
3,51°47′N 1°0′E﻿ / ﻿51.783°N 1.000°E﻿ / 51.783; ...,North Sea,Sea
4,51°1′N 1°0′E﻿ / ﻿51.017°N 1.000°E﻿ / 51.017; 1...,English Channel,Channel
...,...,...,...
1,78°59′N 96°0′E﻿ / ﻿78.983°N 96.000°E﻿ / 78.983...,Kara Sea,Sea
2,16°14′N 96°0′E﻿ / ﻿16.233°N 96.000°E﻿ / 16.233...,Indian Ocean,Ocean
3,4°14′N 96°0′E﻿ / ﻿4.233°N 96.000°E﻿ / 4.233; 9...,Indian Ocean,Ocean
4,2°34′N 96°0′E﻿ / ﻿2.567°N 96.000°E﻿ / 2.567; 9...,Indian Ocean,Ocean
5,60°0′S 96°0′E﻿ / ﻿60.000°S 96.000°E﻿ / -60.000...,Southern Ocean,Ocean

In [36]:
import wikipediaapi
wiki_wiki = wikipediaapi.Wikipedia('en')
oceans_df = []
countries_df = []

cat = wiki_wiki.page("Category:Meridians (geography)")
print("Category members: Category:Meridians (geography)")
for p in cat.categorymembers.values():
  if p.namespace == wikipediaapi.Namespace.CATEGORY:
    print(p)
  elif p.namespace == wikipediaapi.Namespace.MAIN:
      p = (str(p).split('(')[0])
      
      if 'meridian' in p and 'Washington' not in p:
          p = p.replace(' ', '_').strip('_').lower()
          print(p)
          url = 'https://en.wikipedia.org/wiki/{}'.format(p) 
          response = session.get(url)
          soup = BeautifulSoup(response.content, 'html.parser')
          oceans = oceans_df.append(scrape(soup, background = 'background:#b0e0e6;'))
          countries = countries_df.append(scrape(soup))
      else:
          continue

Category members: Category:Meridians (geography)
1st_meridian_east
2nd_meridian_east
3rd_meridian_east
4th_meridian_east
5th_meridian_east
6th_meridian_east
7th_meridian_east
8th_meridian_east
9th_meridian_east
10th_meridian_east
11th_meridian_east
12th_meridian_east
13th_meridian_east
14th_meridian_east
15th_meridian_east
16th_meridian_east
17th_meridian_east
18th_meridian_east
19th_meridian_east
20th_meridian_east
21st_meridian_east
22nd_meridian_east
23rd_meridian_east
24th_meridian_east
25th_meridian_east
26th_meridian_east
27th_meridian_east
28th_meridian_east
29th_meridian_east
30th_meridian_east
31st_meridian_east
32nd_meridian_east
33rd_meridian_east
34th_meridian_east
35th_meridian_east
36th_meridian_east
37th_meridian_east
38th_meridian_east
39th_meridian_east
40th_meridian_east
41st_meridian_east
42nd_meridian_east
43rd_meridian_east
44th_meridian_east
45th_meridian_east
46th_meridian_east
47th_meridian_east
48th_meridian_east
49th_meridian_east
50th_meridian_east
51st_meridian_east
52nd_meridian_east
53rd_meridian_east
54th_meridian_east
55th_meridian_east
56th_meridian_east
57th_meridian_east
58th_meridian_east
59th_meridian_east
60th_meridian_east
61st_meridian_east
62nd_meridian_east
63rd_meridian_east
64th_meridian_east
65th_meridian_east
66th_meridian_east
67th_meridian_east
68th_meridian_east
69th_meridian_east
70th_meridian_east
71st_meridian_east
72nd_meridian_east
73rd_meridian_east
74th_meridian_east
75th_meridian_east
76th_meridian_east
77th_meridian_east
78th_meridian_east
79th_meridian_east
80th_meridian_east
81st_meridian_east
82nd_meridian_east
83rd_meridian_east
84th_meridian_east
85th_meridian_east
86th_meridian_east
87th_meridian_east
88th_meridian_east
89th_meridian_east
90th_meridian_east
91st_meridian_east
92nd_meridian_east
93rd_meridian_east
94th_meridian_east
95th_meridian_east
96th_meridian_east
97th_meridian_east
98th_meridian_east
99th_meridian_east
100th_meridian_east
101st_meridian_east
102nd_meridian_east
103rd_meridian_east
104th_meridian_east
105th_meridian_east
106th_meridian_east
107th_meridian_east

AttributeError: 'NoneType' object has no attribute 'find_all'

In [21]:
with requests.Session() as session:
    
    for page_number in ['1st', '2nd', '3rd']:
    # while True:
        url = f'https://en.wikipedia.org/wiki/{page_number}_meridian_east'
        print("Processing page: #{page_number}; url: f'https://en.wikipedia.org/wiki/{page_number}st_meridian_east'".format(page_number=page_number, url=url))
        response = session.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        oceans = scrape(soup, background = 'background:#b0e0e6;')
        countries = scrape(soup)

        # check if there is next page, break if not
        next_link = soup.find("a", text="next")
        if next_link is None:
            break

        url = urljoin(url, next_link["href"])
        
        page_number += 1

print("Done.")

Processing page: #1st; url: f'https://en.wikipedia.org/wiki/1stst_meridian_east'
Done.

In [5]:
from urllib.parse import urljoin
with requests.Session() as session:
    content = session.get(base_url).content
    soup = BeautifulSoup(content, 'lxml')

    links = extract_links(soup)
    next_link = get_next_link(soup)

    while next_link is not None: # while there is a Next Page link

        url = urljoin(base_url, next_link['href'])
        content = session.get(url).content
        soup = BeautifulSoup(content, 'lxml')
        #res = requests.get(url).text
        #oceans = scrape(soup, background = 'background:#b0e0e6;')
        #countries = scrape(soup)

        links += extract_links(soup)
        next_link = get_next_link(soup)

In [451]:
import requests

def query(request):
    request['action'] = 'query'
    request['format'] = 'json'
    request['generator'] = 'categorymembers'
    request['gcmtype'] = 'subcat'
    previousContinue = {}
    while True:
        req = request.copy()
        req.update(previousContinue)
        result = requests.get('http://en.wikipedia.org/w/api.php', params=req).json()
        if 'error' in result:
            raise Error(result['error'])
        if 'warnings' in result:
            print(result['warnings'])
        if 'query' in result:
            yield result['query']
        if 'continue' in result:
            previousContinue = {'gcmcontinue': result['continue']['gcmcontinue']}
        else:
            break

for result in query({'gcmtitle': 'Category:Meridians (geography)' }):
    print (result)

{'pages': {'35543432': {'pageid': 35543432, 'ns': 14, 'title': 'Category:Named meridians'}}}

In [6]:
URL = "https://en.wikipedia.org/wiki/61st_meridian_east"
res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')

In [70]:
def scrape(soup, background = False):
    co_ordinates = []
    names = []
    types = []
    for items in soup.find('table', class_='wikitable plainrowheaders').find_all('tr')[1::1]:
        if background:
            areas = items.find_all(['th', 'td'], attrs={'style': background})
            try:
               co_ordinates.append((areas[0].a.text))
               names.append(areas[1].a.text)
               types.append(areas[1].a.text.split(' ')[1])
            except IndexError: pass
        else:
            areas = items.find_all(['th', 'td'], attrs = {'style': False})
            try:
                co_ordinates.append((areas[0].a.text))
                names.append(areas[1].a.text)
                types.append('Country')
            except IndexError: pass

    #df = pd.DataFrame(np.column_stack([types, co_ordinates, names]), columns=['type', 'co_ordinates', 'name'])
    return co_ordinates

In [9]:
oceans = scrape(soup, background = 'background:#b0e0e6;')
countries = scrape(soup)

In [10]:
df = pd.concat([oceans, countries])

In [11]:
df.head()

    type                                       co_ordinates            name
0  Ocean  90°0′N 61°0′E﻿ / ﻿90.000°N 61.000°E﻿ / 90.000;...    Arctic Ocean
1    Sea  80°22′N 61°0′E﻿ / ﻿80.367°N 61.000°E﻿ / 80.367...     Barents Sea
2    Sea  75°10′N 61°0′E﻿ / ﻿75.167°N 61.000°E﻿ / 75.167...        Kara Sea
3  Ocean  25°13′N 61°0′E﻿ / ﻿25.217°N 61.000°E﻿ / 25.217...    Indian Ocean
4  Ocean  60°0′S 61°0′E﻿ / ﻿60.000°S 61.000°E﻿ / -60.000...  Southern Ocean

In [12]:
df

       type                                       co_ordinates            name
0     Ocean  90°0′N 61°0′E﻿ / ﻿90.000°N 61.000°E﻿ / 90.000;...    Arctic Ocean
1       Sea  80°22′N 61°0′E﻿ / ﻿80.367°N 61.000°E﻿ / 80.367...     Barents Sea
2       Sea  75°10′N 61°0′E﻿ / ﻿75.167°N 61.000°E﻿ / 75.167...        Kara Sea
3     Ocean  25°13′N 61°0′E﻿ / ﻿25.217°N 61.000°E﻿ / 25.217...    Indian Ocean
4     Ocean  60°0′S 61°0′E﻿ / ﻿60.000°S 61.000°E﻿ / -60.000...  Southern Ocean
0   Country  81°6′N 61°0′E﻿ / ﻿81.100°N 61.000°E﻿ / 81.100;...          Russia
1   Country  76°14′N 61°0′E﻿ / ﻿76.233°N 61.000°E﻿ / 76.233...          Russia
2   Country  69°50′N 61°0′E﻿ / ﻿69.833°N 61.000°E﻿ / 69.833...          Russia
3   Country  53°55′N 61°0′E﻿ / ﻿53.917°N 61.000°E﻿ / 53.917...      Kazakhstan
4   Country  53°53′N 61°0′E﻿ / ﻿53.883°N 61.000°E﻿ / 53.883...          Russia
5   Country  53°40′N 61°0′E﻿ / ﻿53.667°N 61.000°E﻿ / 53.667...      Kazakhstan
6   Country  53°37′N 61°0′E﻿ / ﻿53.617°N 61.000°E﻿ / 53.617...          Russia
7   Country  52°51′N 61°0′E﻿ / ﻿52.850°N 61.000°E﻿ / 52.850...      Kazakhstan
8   Country  52°26′N 61°0′E﻿ / ﻿52.433°N 61.000°E﻿ / 52.433...          Russia
9   Country  52°18′N 61°0′E﻿ / ﻿52.300°N 61.000°E﻿ / 52.300...      Kazakhstan
10  Country  51°28′N 61°0′E﻿ / ﻿51.467°N 61.000°E﻿ / 51.467...          Russia
11  Country  50°41′N 61°0′E﻿ / ﻿50.683°N 61.000°E﻿ / 50.683...      Kazakhstan
12  Country  44°25′N 61°0′E﻿ / ﻿44.417°N 61.000°E﻿ / 44.417...      Uzbekistan
13  Country  41°14′N 61°0′E﻿ / ﻿41.233°N 61.000°E﻿ / 41.233...    Turkmenistan
14  Country  36°39′N 61°0′E﻿ / ﻿36.650°N 61.000°E﻿ / 36.650...            Iran
15  Country  34°42′N 61°0′E﻿ / ﻿34.700°N 61.000°E﻿ / 34.700...     Afghanistan
16  Country  31°28′N 61°0′E﻿ / ﻿31.467°N 61.000°E﻿ / 31.467...            Iran
17  Country  29°59′N 61°0′E﻿ / ﻿29.983°N 61.000°E﻿ / 29.983...     Afghanistan
18  Country  29°49′N 61°0′E﻿ / ﻿29.817°N 61.000°E﻿ / 29.817...        Pakistan
19  Country  29°43′N 61°0′E﻿ / ﻿29.717°N 61.000°E﻿ / 29.717...            Iran
20  Country  67°27′S 61°0′E﻿ / ﻿67.450°S 61.000°E﻿ / -67.45...      Antarctica

In [ ]:
def scrape(soup, background = False):
    co_ordinates = []
    names = []
    types = []
    for items in soup.find('table', class_='wikitable plainrowheaders'):
        if items: 
        data = items.find_all('tr')[1::1]
            if background:
                areas = da.find_all(['th', 'td'], attrs={'style': background})
                try:
                co_ordinates.append((areas[0].a.text))
                names.append(areas[1].a.text)
                types.append(areas[1].a.text.split(' ')[1])
                except IndexError: pass
            else:
                areas = items.find_all(['th', 'td'], attrs = {'style': False})
                try:
                    co_ordinates.append((areas[0].a.text))
                    names.append(areas[1].a.text)
                    types.append('Country')
                except IndexError: pass
        df = pd.DataFrame(np.column_stack([types, co_ordinates, names]), columns=['type', 'co_ordinates', 'name'])
    return df